:root {
  --main-font-family: afacad flux, Helvetica, Arial, sans-serif;
  --white-color: #f5f7fb;
  --root-bg-color: #dbdef0;

  --root-circle1-color: #ffff66dd;
  --root-circle2-color: #5fc4ffcf;

  --start-button-color: #4d5b9e;
  --choice-button-color: #4d5b9e;
  --chosen-answer-color: #b2baea;
  --correct-answer-color: #41f096;
  --wrong-answer-color: #fa5b33;

  --darkblue-color: #293264;
  --hr-color: #c0c5eede;
  --error-message-color: rgb(239, 19, 81);
  --pass-score-color: rgb(39, 168, 125);
  --fail-score-color: rgb(255, 94, 0);

  --circle-width: 300px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* COLOR CHOICES 
#646cff; purple
 #1a1a1a; black
  #213547; almost black blue
   #747bff; light purple
   #f9f9f9; white
*/
* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}
body {
  overflow: hidden;
}
div#root {
  height: 100vh;
  width: 100%;
  background-color: var(--root-bg-color);
  display: grid;
  place-items: center;
}
main {
  max-width: 60%;
  border: 10px double var(--white-color);
  border-radius: 10px;
  padding: 1rem 1.5rem;
}
footer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--darkblue-color);
  transform: translateY(-2rem);
}
button.common {
  background-color: var(--start-button-color);
  border: 1px solid var(--start-button-color);
  border-radius: 10px;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
  color: var(--white-color);
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}
/* HOME PAGE */
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-content h1 {
  color: var(--darkblue-color);
  font-weight: 900;
  font-size: 3rem;
}

.hero-content::before {
  content: "";
  border: none;
  width: var(--circle-width);
  aspect-ratio: 1/1;
  border-radius: 20%/50%;
  background-color: var(--root-circle1-color);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.hero-content::after {
  content: "";
  border: none;
  width: var(--circle-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--root-circle2-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
/* TEST QUESTIONS */

.test-body {
  height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
}
hr.divider {
  width: 90%;
  align-self: center;
  border: 1px solid var(--hr-color);
  border-radius: 50%;
  margin-top: 0.5rem;
}
.test-body:last-of-type hr.divider {
  display: none;
}
h3.stem {
  color: var(--darkblue-color);
  font-size: 1.4rem;
  word-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
.choice-wrapper {
  width: 100%;
  flex-wrap: wrap;
}
.choice-wrapper label.choice {
  background-color: transparent;
  border: 1px solid var(--darkblue-color);
  border-radius: 10px;
  color: var(--darkblue-color);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  word-spacing: 0.1rem;

  text-transform: capitalize;
  padding: 1px 15px;
  margin: 0 10px;
  cursor: pointer;

  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}
label.choice:first-of-type {
  margin-left: 0;
}
label.choice:last-of-type {
  margin-right: 0;
}

.choice-wrapper .choice input {
  width: 0;
  visibility: hidden;
}
.choice:has(input:checked) {
  background-color: var(--chosen-answer-color);
  border-color: var(--chosen-answer-color);
}
label.choice.correct {
  background-color: var(--correct-answer-color);
  border-color: var(--correct-answer-color);
}

label.choice.incorrect {
  background-color: var(--wrong-answer-color);
  border-color: var(--wrong-answer-color);
}
label.choice.incorrect,
label.choice.not-selected {
  opacity: 0.5;
}
/* FOOTER STYLES*/
.show-answer-btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
/* MESSAGE STYLES */
p.message {
  font-size: 1.5rem;
  color: var(--error-message-color);
}
span.pass {
  color: var(--pass-score-color);
}
span.fail {
  color: var(--fail-score-color);
}
