@font-face {
  font-family: LCD Mono;
  src: url(./fonts/LCDM2N__.TTF) format("truetype");

  font-display: swap;
  font-weight: 400;
}
:root {
  --body-bg-color: #92cded94;
  --container-bg-color: #00324d;
  --billboard-color: #1f2937;
  --text-color: #fff;
  --primary-data-color: #fe911e;
  --secondary-data-color: #8ad5ea;

  --main-border-radius: 15px;
  --button-border-radius: 7px;
  --main-border: 4px solid white;
  --panel-border: 2px solid white;
  --primary-button-border: 2px solid white;
  --secondary-button-border: 2px dashed #8ad5ea;
  --box-shadow: 0 10px 40px 10px #036aa19b;

  --text-transform: translate(6%);
}
html {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
body {
  font-family: LCD Mono, sans-serif;
  background-color: var(--body-bg-color);
  display: grid;
  place-items: center;
  color: var(--text-color);
  height: 100vh;
}
.container {
  max-width: 70%;
  width: 500px;
  aspect-ratio: 6/5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--container-bg-color);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem 0 0.3rem 0;
}
.container > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.title {
  letter-spacing: 0.4rem;
  font-size: 2rem;
  text-align: center;
  transform: var(--text-transform);
  margin: 0 0 2.8rem 0;
}
.score-panel {
  text-align: center;
  background-color: var(--billboard-color);
  font-size: 4.5rem;
  color: var(--primary-data-color);
  font-weight: 600;
  letter-spacing: 0.6rem;
  padding: 1rem 1rem;
  border: var(--panel-border);
  border-radius: var(--main-border-radius);
}
.score-panel p:first-of-type {
  padding: 0;
  margin: 0;
  transform: var(--text-transform);
}

/* BUTTON STYLES */
.button-wrapper {
  margin-top: 1.8rem;
}
.button-wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
}
.button-wrapper ul li {
  display: inline-block;
}
.button-wrapper ul li button {
  border-radius: var(--button-border-radius);
  border: var(--secondary-button-border);
  color: var(--secondary-data-color);
  padding: 3px 7px;
  font: bold 0.85rem Orbitron, sans-serif;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

#restart-btn {
  color: var(--text-color);
  border: var(--primary-button-border);
  border-radius: calc(var(--button-border-radius) * 2);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
}
